@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.swivelSearch {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .searchInterface {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
    background-color: $ms-color-neutralLighter;
    border-radius: 4px;
    padding:30px;
  }

  .buttonRow {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left:30px;
    }
  }

  .pnlAdvanced {
    overflow: hidden;
    transition: max-height 300ms linear;
    &.pnlAdvancedMinimized {
      max-height: 0px !important;
    }
  }

  .keywordSearch {
    :global {
      .ms-TextField input[type=text]::placeholder  {
        color: #999;
      }
      .ms-TextField-suffix,
      .ms-TextField-prefix {
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 150ms linear;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
      .ms-TextField-prefix {
        padding: 0;
      }
      .ms-TextField-suffix {
        padding: 0;
        overflow: hidden;
      }
      .btnKeywordSearch {

      }
      .btnAdvanced {
        &.is-checked {
          background-color: $ms-color-themePrimary;
          color: $ms-color-white;
          font-weight: 600;
        }
      }
    }

  }

  .grid {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: -2%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .row {
    
  }

  .cell {
    min-width: 250px;
    flex-grow: 1;
    position: relative;
    margin: 0 0 0 -2%;
    left: -2%;
    width: 48%;
    padding-left: 4%;
  }

}

.hide {
  display: none !important;
}

:global {
  #workbenchPageContent {
    max-width: none;
  }
}